  <% @products.each do |product| %>
            <li>
            <!--<div class="large-4 small-6 columns">-->
              <a href=<%= product.link %>>
              <img src="assets/<%= product.image_file_name %>">
              <div class="panel">
                <h5 class="itemcolor"><%= product.name %>
                </h5>
                <h6 class="subheader">$<%= product.price %></h6>
              </div>
              </a>
            </li>
  <% end %>






















