<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>

		<meta charset="utf-8" />
		<!--<link href="http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded" rel="stylesheet">-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Great Gifts for Girlfriends for all Occassions</title>
	
		<script src="bower_components/modernizr/modernizr.js"></script>
		<style>
			  h5.itemcolor {color: #008cba}
			  h5.itemcolor:hover {color: #007ba0}
		</style>
	</head>
  <body>
    <div class="row">
      <div class="large-12 columns">
      </div>
    </div>

    <div class="row">
    <div class="large-12 columns">
 
        <!-- Navigation -->

    <div class="row">
      <div class="large-12 columns">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <!-- Title Area -->

            <li class="name">
              <h1><a href="http://localhost:3000"><%= image_tag "toptitle.png" %></a></h1>
            </li>

            <li class="toggle-topbar menu-icon">
              <a href=""><span>menu</span></a>
            </li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
               <ul class="right">
                <li class="divider"></li>
                <li><a href="/blog">Blog</a></li>
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">Sort By Category</a>
                  <ul class="dropdown">
                    <li><a href="#"></a></li>
                    <li><a href="/tools">Tools</a></li>
                    <li><a href="/apparel">Apparel</a></li>
                    <li><a href="/health">Health</a></li>
                    <li class="divider"></li>
                    <li><a href="http://localhost:3000">See all →</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">Sort By Price</a>
                  <ul class="dropdown">
                    <li><a href="#"></a></li>
                    <li><a href="/budget">Budget</a></li>
                    <li><a href="/special">Special</a></li>
                    <li><a href="/luxury">Luxury</a></li>
                    <li class="divider"></li>
                    <li><a href="http://localhost:3000">See all →</a></li>
                  </ul>
                </li>

              </ul>
          </section>
        </nav><!-- End Top Bar -->
      </div>
    </div><!-- End Navigation -->
 
  <!-- start content row -->
      <div class="row">
 
  <!-- Side Bar -->
 
        <div class="large-4 small-12 columns">

          <%= image_tag "bf500.png" %>
          <%= image_tag "bf640.png", :class => "hide-for-medium hide-for-large hide-for-xlarge" %> 
 
          <div class="hide-for-small panel">
            <h3>Gifts he will love!</h3>
            <h5 class="subheader">We hand pick only the highest quality items for when you want to give your man the very best. Give him something he's been wanting or doesn't know he wants yet. For birthdays, holidays, or no reason at all, please enjoy our suggestions here at BoyfriendGifts.
            </h5>
          </div>
 
          <a href="#">
          <div class="hide-for-medium">
            <h6></h6>
          </div>
          </a>
 
        </div>
 
    <!-- End Side Bar -->
        <div class="large-8 columns">
          <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
            <%= yield %>
          </ul>
        </div>
    <!-- End product grid -->


      </div>
    <!-- End content row -->

    </div>
    </div>

<script src="assets/javascripts/jquery.js"></script>
<script src="assets/javascripts/foundation.js"></script>
<script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>


</body>
</html>
